

#senderInfo {
  color: #13442f !important;
}

#timeInfo {
  color: #13442f !important;
}

#mailContent {
  color: #13442f;
}

#mailSubject {
  color: #13442f;
}

#toRecipient {
  color: #13442f !important;
}
